*{
	box-sizing: border-box;
}
body{
	margin: 0;
	font-size: 12px; 
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif; 
	color: #666;
}
.header{
	text-align: center;
	border-bottom: 1px solid gray;
	padding: 15px;
	margin: 15px;
}
.content{
	padding: 5px 15px 0 15px;
	text-align: center;
}

table{
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}
th, td{
	border:1px solid gray;
	padding: 10px;
}
span{
	font-size: 30px;
}
button#print{
	background-color: white;
	color: black;
	margin-top: 15px;
	padding: 7px;
}
button{
	margin-top: 5px;
	background-color: darkorange; 
	color: white;
	padding: 7px;
}